[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyquery = "*"
fake-useragent = "*"
parse = "*"
"bs4" = "*"
"w3lib" = "*"
pyppeteer = "*"
lxml-html-clean = "*"
"rfc3986" = "*"

[dev-packages]
twine = "*"
requests-file = "*"
pytest = "*"
"requests-html" = {path = ".",editable = true}
sphinx = "*"
mypy = "*"
pytest-asyncio = "*"
black = "*"

[scripts]
tests = "pytest -v -m 'not internet and not render'"
